.center-content{
	width:96%;
	margin:0 auto;
	font-size:80%;
}
#report_container{
	padding:1%;
	height:20%;
	width:100%;
	background-color:rgb(243, 246, 247);
}
#top_reports{
	
}
#patient_listing {
	margin: 0 auto;
	font-size: 100%;
	letter-spacing: 0.5px;
	width: 80%;
	border-collapse:collapse;
}
#patient_listing th{
	background-color: #CFF;
	text-transform: uppercase;
	font-weight: bold;
	font-size:1.4em;
}
hr {
	margin: 0 auto;
}
.dataTables_wrapper{
	width:80%;
}
table#patient_listing{
	width:100%;
}
table#patient_listing th{
	font-size: 1em;
}
