#patient_listing th, #top_enrollments_panel th {
	border: 1px solid white;
	background: #999;
}
#patient_listing th, #top_enrollments_panel th, #patient_listing td, #top_enrollments_panel td, #appointment_listing td,#appointment_listing th {
	padding: 5px;
}
#patient_listing th:first-child {
	border: 1px solid white;
	border-left: 1px solid #999;
	background: #999;
}
#patient_listing th:lastchild {
	border-right: 1px solid #999;
}
#patient_listing tr:nth-child(odd), .male tr:nth-child(odd), .female tr:nth-child(odd), #missed_doses tbody tr:nth-child(even), #pill_count tbody tr:nth-child(even), #appointment_listing tbody tr:nth-child(even) {
	background: #bbb;
}
#patient_listing td+ td {
	text-align: center;
}
#patient_listing {
	border: solid 1px #999;
}
#patient_listing .tfoot {
	background: #999;
}
.category_title {
	background: #353535;
	color: white;
	text-align: center;
}
.subcategory_title {
	border-bottom: 1px solid #999;
}
.male, .female {
	border: 1px solid #999;
	margin: 1em 0 0.5em 0;
}
